* {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(230, 230, 230);

  background-color: rgb(80, 80, 80);

  margin: 20px 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
  
}

p {
  font-size: 20px;
}

.entry > img {
  display: block;

  width: 400px;
  
  border: 1px solid white;
  border-radius: 50%;

  margin: 80px auto;
}

.entry > p {
  text-align: center;
}

#signatur {
  font-style: italic;
  text-align: right;

  margin: 50px 30px 0 0;
}
